<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar with Dropdown Login</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <!-- <div class="container">
        <img id="image" src="C:\Users\ajith\Desktop\supermarket\app\websites\static\img1.jpg" alt="img1.jpg">
    </div>
     -->
    <nav class="navbar">
        <div class="brand-title"></div>
        <a href="javascript:void(0);" class="toggle-button">
            <!-- <span class="bar"></span> -->
            <!-- <span class="bar"></span> -->
            <!-- <span class="bar"></span> -->
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropbtn">SIGNUP</a>
                    <div class="dropdown-content">
                        <a href="/signup">USER</a>
                        <a href="/staff_signup">STORE_USER</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropbtn">LOGIN</a>
                    <div class="dropdown-content">
                        <a href="/login">USER</a>
                        <a href="/staff_login">STORE_USER</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>
